<div class="container">
  <h1 class="text-center my-4">Cocktails</h1>
  <div class="row mb-4">
      <% @cocktails.each do |cocktail| %>
        <div class="col-12 col-md-6">
          <div class="cocktail-card mt-3">
            <%= link_to cocktail_path(cocktail), class: 'delete-icon-index', method: :delete, data: { confirm: "Are you sure you want to delete #{cocktail.name}?" } do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <%= link_to cocktail_path(cocktail), class: 'no-style' do %>
              <div class="wrapper">
                <h2 class="mb-3"> <%= cocktail.name %> </h2>
                <% if cocktail.photo.attached? %>
                  <%= cl_image_tag cocktail.photo.key, crop: :fill, alt: "Cocktail image", class: "drink-image" %>
                <% else %>
                  <%= image_tag("default_drink.jpg", alt: "Cocktail image", class: "drink-image") %>
                <% end %>  
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>