<div class="container">
  <h1 class="text-center my-4">Mister Cocktails <i class="fas fa-cocktail"></i></h1>
  <form action="cocktails/ingredient" method="POST" class="mb-4">
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" name="ingredient" class="form-control" placeholder="Enter an ingredient to search">
      <input type="submit" value="Search" class="btn btn-primary">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>
  </form>
  <div class="row mb-4">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6">
        <div class="cocktail-card mt-3">
          <%= link_to cocktail_path(cocktail), class: 'delete-icon-index', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i>
          <% end %>
          <%= link_to cocktail_path(cocktail), class: 'no-style' do %>
            <div class="wrapper">
              <h2 class="mb-3"> <%= cocktail.name %> </h2>
              <% if cocktail.photo.attached? %>
                <%= cl_image_tag cocktail.photo.key, alt: "Cocktail image", crop: :fill, class: "drink-image" %>
              <% else %>
                <%= image_tag("https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd", alt: "Cocktail image", class: "drink-image") %>
              <% end %>  
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="buttons d-flex justify-content-center mb-4">
  <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
</div>