<div class="container">
  <h1 class="text-center my-4">Mister Cocktails <i class="fas fa-cocktail"></i></h1>
  <form action="cocktails/ingredient" method="POST" class="mb-4">
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" name="ingredient" class="form-control" placeholder="Enter an ingredient to search">
      <input type="submit" value="Search" class="btn btn-primary">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </div>
  </form>
  <div class="row mb-4">
   <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="cocktail-card card">
        <h2> <%= cocktail.name %> </h2>
        <%= image_tag("https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd", alt: "Cocktail image", class: "drink-image") %>  
        <%= link_to 'Details', cocktail_path(cocktail), class:'button-info btn btn-success' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="buttons d-flex justify-content-center mb-4">
  <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'mr-2 btn btn-primary' %>
</div>