<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="border doses-card my-5 p-4">
        <%= link_to edit_from_show_path(@cocktail), class: 'edit-icon' do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to cocktail_path(@cocktail), class: 'delete-icon', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
        <h1 class="text-center my-3 mb-0"><%= @cocktail.name %></h1>
          <% if @cocktail.photo.attached? %>
            <%= cl_image_tag @cocktail.photo.key, alt: "Cocktail image", class: "show-image" %>
          <% else %>
            <%= image_tag("https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd", alt: "Cocktail image", class: "show-image") %>
          <% end %>  
        <ul class="dose-card mb-4 mt-3 p-0">
          <% @cocktail.doses.each do |dose| %>
            <li class="description text-center d-block"><%= dose.description %> <span class="ingredient"><%= dose.ingredient.name %></span></li>
          <% end %>
        </ul>
        <div class="buttons w-80 mx-auto">
          <%= link_to "Back", cocktails_path, class: 'btn btn-info mr-1' %>
          <%= link_to "Add new dose", from_show_new_cocktail_dose_path(@cocktail), class: 'btn btn-success mr-1' %>
        </div>
      </div>
    </div>
  </div>
</div>
