<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="border doses-card my-5 p-4">
        <%= link_to edit_cocktail_path(@cocktail), class: 'edit-icon' do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to cocktail_path(@cocktail), class: 'delete-icon', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
        <h1 class="text-center my-3 mb-0"><%= @cocktail.name %></h1>
          <% if @cocktail.photo.attached? %>
            <%= cl_image_tag @cocktail.photo.key, alt: "Cocktail image", transformation: { width: 548, height: 400, crop: :fill, gravity: 'auto' }, class: "show-image" %>
          <% else %>
            <%= image_tag("https://images.unsplash.com/photo-1513558161293-cdaf765ed2fd", alt: "Cocktail image", class: "show-image") %>
          <% end %>  
        <ul class="dose-card mb-4 mt-3 p-0">
          <% @cocktail.doses.each do |dose| %>
            <li class="description text-center d-block"><%= dose.description %> <em><span class="ingredient"><%= dose.ingredient.name %></span></em>
            <%= link_to dose_path(dose), class: 'delete-icon-dose', method: :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>
            </li>
          <% end %> 
        </ul>
        <div class="form-show w-75 h6 mt-5 mx-auto">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <div class="form-row">
              <div class="col-6">
                <%= f.input :description, label: :Measure, placeholder: '3 leaves of' %>
              </div>
              <div class="col-6">
                <%= f.input :ingredient, placeholder: 'mint' %>
              </div>
            </div>
            <%= f.submit 'Add new dose', class: 'btn mr-1 btn-success'%>
            <%= link_to "Back", cocktails_path, class: 'btn btn-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
